.stories {
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: -9.5vh;
}

.h1-stories {
    font-size: 40px;
    font-weight: 700;
}

.col>img {
    margin-left: 5rem;
    width: 20rem;
    height: 20rem;
}

.text-img {
    margin-left: 5rem;
}

.below-stories {
    background-color: #19B5FE;
    width: 181vh;
    margin-left: -18vh;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 5rem;
}

.text-below-stories {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.below-stories>.btn {
    margin-left: 2rem;
    color: rgb(0, 0, 0);
    background-color: white;
    height: 2rem;
    margin-top: 1.8rem;
}

@media only screen and (max-width: 600px) {
    .stories {
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .below-stories {
        width: 57vh;
        margin-left: -2rem;
    }

    .text-below-stories {
        font-size: 15px;
    }
}