.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.h1-footer {
    margin-top: 2rem;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
}

.footer>ul {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

.footer>ul>li {
    margin-right: 2rem;
}